.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #41423f;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar img {
  border-radius: 50%;
}

.navbar button {
  background-color: #444;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.navbar button:hover {
  background-color: #555;
}

/* CreateForm.css */

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This ensures the parent container takes the full viewport height */
  background-color: #ffffff; /* Optional: to differentiate the background */
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  padding: 100px;
  border: 10px solid #f1d3d3;
  border-radius: 20px;
  background-color: #f9f9f9;
}

.form-container input,
.form-container textarea {
  margin-bottom: 10px;
  
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}

.form-container input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.form-container input[type="submit"]:hover {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.form-container p {
  color: red;
  font-size: 14px;
  margin: 10px 10px 10px 10px;
}


/* Post.css */

.post-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  background-color: #f9f9f9;
}

.post-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.post-description {
  font-size: 16px;
  margin-bottom: 20px;
}

.post-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-username {
  font-style: italic;
  color: #555;
}

.like-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.like-count {
  font-size: 16px;
  color: #333;
}

